<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/Collezioni.css}" rel="stylesheet">
	<object  th:replace="fragments/base.html :: headerfiles()"/>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

    <div class="page">
    <!-- Contenuto Pagina -->
      <div class="page_content">
          <h1 class="nome_pagina">Artisti</h1>
          
          
          <ul>
			<li th:each="artista : ${artisti}">
				<div class="single_collection">
	             	 <div class="image"><img alt="" class="img_item" src="" th:src="*{'data:image/jpeg;base64,'+{artista.foto}}"></div>
	              	 <div class="description">
	                 	<a th:text="|${artista.nome} ${artista.cognome}|"
	                        class="collection_link"
	                        th:href="@{'/artista' + '/' + ${artista.id}}">Vincent van Gogh</a>
	                 	<p th:text="${artista.luogoDiNascita}">Pittore olandese</p>
	              	</div>
	             	<p th:text="|${artista.dataDiNascita}  ${artista.dataDiMorte}|">30 marzo 1853 - 29 luglio 1890</p>
         		</div>
			</li>
		 </ul>
          
      </div>
    </div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
    
  </body>