<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/HomeLogin.css}" rel="stylesheet">
	<object  th:replace="fragments/base.html :: headerfiles()"/>
    <link href="../static/css/HomeLogin.css" rel="stylesheet"/>
    <link href="../static/css/Navbar.css" rel="stylesheet"/>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione2"></header>

    <div class="elencoAzioni page">
        <a class="azione" href="">Aggiungi un'opera</a>
        <a class="azione" href="">Aggiungi una collezione</a>
        <a class="azione" href="">Rimuovi un'opera</a>
        <a class="azione" href="">Rimuovi una collezione</a>
    </div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
    
</body>
</html>